
@media (min-width: 576px) {

}
@media (min-width: 768px) {
    
}
@media (min-width: 992px) {
    nav, nav header {
        width: 55vw;
        &.active {
            transform: translateX(45vw)
        }
    }
    header {
        height: 96px;
        > div {
            height: 32px;
        }
    }
    section {
        margin-top: 96px;
    }
    section.credits {
        max-width: 50vw;
        margin-left:auto;
        margin-right:auto;
    }
    section.token {
        padding: 64px;
        align-items: flex-start;
        .media, .content {
            flex: 0.5;
            margin-top: 0;
            margin-bottom: 64px;
        }
        .content {
            padding-left: 64px;
            padding-right: 64px;
        }
        .heading {
            text-align: left;
        }
    }
    section.items {
        margin-top: 128px;
        > div {
            grid-template-columns: 25% 25% 25% 25%;
        }
        h1 {
            font-size: 2rem;
        }
    }
    section.edition {
        > div {
            top: 64px;
            padding: 0 25vw;
            > div {
                max-height: 70vh;
                overflow: scroll;
                > div {
                    background: #232323;
                    padding-bottom: 0;
                }
            }
        }
        header {
            padding: black;
            padding: 32px calc(25vw + 32px);
        }
    }
    section.modal {
        .content {
            left: 25vw;
            width: 50vw;
        }
    }

    footer {
        margin: 16px 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 64px);
        .built-on {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            * {
                margin: auto 8px;
            }
        }
    }
}
@media (min-width: 1200px) {
   section {
       &:not(.items) {
            max-width: 1400px;
            margin-left:auto;
            margin-right:auto;
       }
   }
   section.credits {
        max-width: 33.33vw;
   }
   section.edition {
        > div {
            margin-top: 64px;
            padding: 0 33.33vw;
        }
        header {
            padding: 32px calc(33.33vw + 32px);
        }
    }
    section.modal {
        .content {
            left: 33.33vw;
            width: 33.33vw;
        }
    }
}
@media (min-width: 1600px) {
    section.items > div {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}