@media (min-width: 576px) {

}
@media (min-width: 768px) {
    
}
@media (min-width: 992px) {
    nav, nav header {
        width: 55vw;
        &.active {
            transform: translateX(45vw)
        }
    }
    header {
        height: 96px;
        > div {
            height: 32px;
        }
    }
    section {
        margin-top: 96px;
    }
    section.credits {
        max-width: 50vw;
        margin-left:auto;
        margin-right:auto;
    }
    section.token {
        padding: 64px;
        align-items: flex-start;
        .media, .content {
            flex: 0.5;
            margin-top: 0;
            margin-bottom: 64px;
        }
        .heading {
            text-align: left;
        }
    }
    section.items > div {
        grid-template-columns: 25% 25% 25% 25%;
    }
    section.edition {
        background: #888;
        > div {
            padding: 0 25vw;
        }
        header {
            padding: black;
            padding: 32px calc(25vw + 32px);
        }
    }
    section.modal {
        .content {
            left: 25vw;
            width: 50vw;
        }
    }
}
@media (min-width: 1200px) {
   
}
@media (min-width: 1600px) {
    section.items > div {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}